<!DOCTYPE html>
<html>
<head>
  <title>BVAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
      <div style="text-align: right">

        <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do  %>
            <i class="fa fa-sign-out"></i> Logout
        <% end %>
      </div>
  <% end %>
  <% if user_signed_in? %>
  <%= render 'layouts/common_links' %>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
